.boton{
    width: 80%;
    outline: none;
    margin: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: $colorPrimario;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 700
} 

