$colorTexto:#4B4B4B;
$colorPrimario: rgb(237,111,23);
$colorEstrellas: #e7bc3d;
$colorSecundario:#2D10DE;
$colorFacebook:#3b5998;
$colorGoogle:#4385F5;
$sombra: rgba(0, 0, 0, 0.5) 0px 3px 8px;
$sombraSuperior: rgba(0, 0, 0, 0.5) 0px -3px 8px;
